.featured-projects {
    width: 85%;
    margin: 0 auto;
    padding: 5vh 0 120px 0;
    border-bottom: 1px solid #1d1d22;
}

.featured-projects_inner {
    padding: 0 0 2.5rem 0;
}

.featured-projects_row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
}

.featured-projects_column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin-right: 30px;
    border: 2.5px solid #000;
    height: 20vw;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.featured-projects_column:hover {
    box-shadow: 0 0 9px 0 rgba(0,0,0,0.3);
    border-color: #dddddd;
}

.feature-projects_heading {
    font-size: 1.875rem;
}

.slide-top:hover {
	-webkit-animation: slide-top 3s ease-in forwards ;
    animation: slide-top 3s ease-in forwards ;
    opacity: 0.8;
    cursor: pointer;
}

@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
}